@import "tailwindcss";
@import '../node_modules/primeicons/primeicons.css';

:root {
    @apply bg-gray-200
}

.my-app-dark {
    background-color: #121212;
}

.my-app-dark .card-container {
    @apply bg-[#252525]
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side,#000 94%,#0000) left/20% 100%;
  background: linear-gradient(#000 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
    100% {background-size:120% 100%}
}